<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>997346228582-9ci8dskngumdfbl2a86k9sbmrssqk4lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997346228582-9ci8dskngumdfbl2a86k9sbmrssqk4lu</string>
	<key>API_KEY</key>
	<string>AIzaSyA3rvBAI_M1OG8hHzpeRGYiGcV8fZtkOWg</string>
	<key>GCM_SENDER_ID</key>
	<string>997346228582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KB.CheckMate</string>
	<key>PROJECT_ID</key>
	<string>checkmate-9aadf</string>
	<key>STORAGE_BUCKET</key>
	<string>checkmate-9aadf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997346228582:ios:71bd772015949580</string>
	<key>DATABASE_URL</key>
	<string>https://checkmate-9aadf.firebaseio.com</string>
</dict>
</plist>